<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</head>

<body>
    <div>
        <div id="nav">

        </div>
        <div id='section'>
            <nav class="navbar bg-body-tertiary">
                <div class="container" id="searchbar">
                    <form id="fetchdetails" class="d-flex" role="search">
                        <input class="form-control me-2" type="text" placeholder="Search" id="inputdata"
                            name="inputdata" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </div>
            </nav>
            <!-- output section -->
            <div id="outputsection">
                <div id="form">
                    <h2>Create a New Blog Post</h2>
                    <form action="/addblog" id="addblog" method="post" class="row g-3">
                        <div class="col-md-9">
                            <label for="inputEmail4" class="form-label">Blog Title :</label>
                            <input type="text" class="form-control" id="inputname" name="inputtitle" required>
                        </div>
                        <div class="col-md-9">
                            <label for="inputPassword4" class="form-label">Blog Author</label>
                            <input type="text" class="form-control" id="inputdob" name="inputauthor" required>
                        </div>

                        <div class="col-9">
                            <label for="inputAddress2" class="form-label">Blog Content :</label>
                            <div class="input-group">
                                <textarea class="form-control" aria-label="With textarea" id="inputcontent"
                                    name="inputcontent"></textarea>
                            </div>
                        </div>
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary" id="submitbtn">ADD DATA</button>
                        </div>
                    </form>
                </div>
                <div id="outputsection">
                    <div id="left">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.5/axios.min.js"></script>
    <script>
        const leftpart = document.getElementById('left');
    
        async function loadAndDisplayStoredItems() {
            try {
                const res = await axios.get('http://localhost:3000/fetch-blogs');
                console.log(res.data);
                const divlabel = document.createElement('div');
                divlabel.id = "divlabel";
    
                res.data.forEach((post) => {
                    const label = document.createElement('ul');
                    const labelli = document.createElement("li");
                    const labellibtn = document.createElement("button");
    
                    labelli.textContent = post.title;
                    labellibtn.type = "button";
                    labellibtn.textContent = "+";
                    labellibtn.setAttribute("value", post.id);
    
                    label.id = "label";
                    label.className = "list-group";
                    labelli.className = "list-group-item";
                    labelli.id = "postli";
                    labellibtn.className = "btn";
                    labellibtn.id = "postbtn";
    
    
                    const authorElement = document.createElement("li");
                    authorElement.className = "list-group-item";
                    authorElement.textContent = `Author: ${post.author}`;
                    authorElement.style.display = "none";
    
                    const contentElement = document.createElement("li");
                    contentElement.className = "list-group-item";
                    contentElement.textContent = `Content: ${post.content}`;
                    contentElement.style.display = "none";
    
                    const commentdiv = document.createElement("div");
                    const commentlabel = document.createElement("label");
                    const commentinput = document.createElement("input");
                    const commentbtm = document.createElement("button");
                    commentinput.className = "list";
                    commentinput.id = "abcdinput";
                    commentbtm.id = "abcdsubmit";
    
                    commentinput.setAttribute("name", "comment");
                    commentlabel.textContent = "COMMENTS";
                    commentbtm.textContent = "Submit";
    
                    commentdiv.appendChild(commentlabel);
                    commentdiv.appendChild(commentinput);
                    commentdiv.appendChild(commentbtm);
                    commentdiv.style.display = "none";
                    contentElement.appendChild(commentdiv);
    
                    commentbtm.addEventListener("click", async () => {
                        const blogid = labellibtn.getAttribute("value");
                        const comment = commentinput.value;
                        console.log(comment);
                        const res = await axios.post(`http://localhost:3000/post-blogs-comment/${blogid}`, { comment });
                        const rea = await axios.get(`http://localhost:3000/fetch-blogs-comment/${blogid}`);
                        document.getElementById('abcdinput').value = " ";
    
                        const commentdiv = document.createElement('div');
    
                        const commentElements = label.querySelectorAll('.comment');
                        commentElements.forEach(commentElement => {
                            commentElement.remove();
                        });
    
                        rea.data.forEach((comment) => {
                            console.log("Comment:", comment);
                            const commentli = document.createElement('li');
                            commentli.className = 'list-group-item comment';
                            commentli.textContent = comment.comment;
                            commentdiv.appendChild(commentli);
                        });
                        label.appendChild(commentdiv);
                    });
    
                    labellibtn.addEventListener("click", async () => {
                        authorElement.style.display = authorElement.style.display === "none" ? "block" : "none";
                        contentElement.style.display = contentElement.style.display === "none" ? "block" : "none";
                        commentdiv.style.display = commentdiv.style.display === "none" ? "block" : "none";
                    });
    
                    labelli.appendChild(labellibtn);
                    label.appendChild(labelli);
                    label.appendChild(authorElement);
                    label.appendChild(contentElement);
    
                    divlabel.appendChild(label);
                });
    
                leftpart.appendChild(divlabel);
    
            } catch (err) {
                console.log("fetch data error: " + err);
            }
        }
    
        document.addEventListener("DOMContentLoaded", loadAndDisplayStoredItems);
    </script>
    </script>
</body>

</html>